/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
selector{
    propriedade:valor;
}
*/

body{/*seletor de tag*/
    background-color: #7D0A0A; /*muda a cor do fundo*/
    font-family: Futura, Helvetica, sans-serif; /*muda a fonte e estilo da letra */
}

#col1{/*seletor de id*/
    background-color: white;
    width: 400px;/*muda o espaçamento */
    text-align: center; /*alinha o texto */
    padding: 10px 38px 38px 38px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    
}

.titulo{/*seletor de classe*/
    font-size: 32px;  /*muda o espaçamento da fonte*/
    margin-top: 14px; /*muda o espaçamento da margem  */
    margin-bottom: 12px;
    font-weight: bold; /*muda a fonte para negrito */
    font-family: Bebas Neue;
    
}

.texto{
    font-size: 18px;/*muda o espaçamento */
    font-weight: bold;
    font-family: Helvetica;
    margin-bottom: 32px;
}

.pedido{
    margin-top: 32px;
    text-align: left; /*muda o local do texto */
    font-family: Helvetica;
}

.rotulo{
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

.campo-texto{
    width: 100%;
    font-size: 16px;
    color: #434343;
    padding:7px 13px;
    margin-bottom: 16px;
    border: 1px Lobster #ced4da;
    border-radius: 4px;
    box-sizing: border-box;

}

.botao-reservar{
    width: 100%;
    background-color: #7D0A0A;
    color: white;
    line-height: 150%;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    font-family: Bebas Neue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 16px;
}

#col2{
    width: 700px;
    margin-left: 39px;
}

.oferta{
    font-size: 40px;
    font-weight: bold;
    font-family: Montserrat;
    color: white;

}

.destaque{
    color: #d88657;
}

.texto-oferta{
    font-size: 22px;
    margin-top: 18px;
    font-family: Raleway;
    color: #d88657;
}

.tudo{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}